$border-color: rgb(239, 239, 245);
$theme-color: #18a058;
$color: rgb(51, 54, 57);
$title-color: rgb(31, 34, 37);
$first-h: 30px;
$second-h: 22px;
.component-demos-h1 {
  margin-bottom: 24px;
}

.component-demos-h2 {
  margin: 24px 0;
}

@media (min-width: 1000px) {
  .component-demos {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
  }
  .demo {
    width: 49%;
  }
}